<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
           <div class="card">
                <div class="card-body">
                    <form #userNameForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input 
                            ngModel
                            name="username"
                            required
                            type="text" 
                            class="form-control">
                        </div>
                        <button class="w-100" mat-raised-button color="accent">Submit</button>
                    </form>
                </div>
           </div>
        </div>
        <div class="col-md-8">
            <app-two></app-two>
        </div>
        <div class="col-md-8">
            <app-three></app-three>
        </div>
    </div>
</div>
